body {
	font-family: Helvetica, Tahoma, Verdana, Arial;
	margin: 0;
	padding: 0;
	background-color: rgb(242, 242, 242);
}

/* Extra */
.clearfix {
	clear: both;
}

#extra-container {
	border: 7px solid #DDD;
	border: 7px solid rgba(67, 46, 97, 0.5);
	border-bottom-width: 0;
	
	-moz-border-radius: 10px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	
	-webkit-border-radius: 10px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;	
	
}

#container {
	overflow: hidden;
	
}

.hidden {
	display: none;
}

.center {
	text-align: center;
	width: 100%;
	display: block;
}

.right {
	float: right;
}

#header, #body, #footer {
	display: block;
	padding: 0 8px;
}

#header {
	height: 25px;
	padding: 5px 10px;
	background-color: rgb(102, 61, 127);
	border-bottom: 1px #444;
	color: #fff;
	text-shadow: black 1px 1px 0px;
	
	position: relative;
	z-index: 999;
	
	-moz-box-shadow: 0 0 8px #888;
	-webkit-box-shadow: 0 0 8px #888;
	box-shadow: 0 0 8px #888;
	
	-moz-border-radius: 3px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	
	-webkit-border-radius: 3px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	
	border-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;	
}

	#header .logo {
		float: left;
	}
	
	#header .text {
		float: left;
		margin: 5px 0 0 0px;
	}
	
	#header .right {
		margin: 5px 0 0 10px;
	}
	
	#header .btn-header {
		text-decoration: none;
		color: #fff;
	}

	#btn-start-chat {
		padding: 10px;
		background-color: rgb(102, 61, 127);
		display: block;
		text-align: center;
		margin: 40px auto 0;
		width: 30%;
		
		border: 1px solid rgb(43, 29, 61);
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		
		text-decoration: none;
		font-size: 130%;
		color: white;
		text-shadow: black 1px 1px 0px;
	}
	
	#chat-area {
		overflow: auto;
		margin-bottom: 11px;
	}
	
	#chat-input-area {
		width: 100%;
		border-top: 1px solid rgb(68, 68, 68);
		border-bottom: 1px solid rgb(68, 68, 68);
		margin: 0 auto;
		padding: 4px 0;
		background-color: rgb(102, 61, 127);
	}
	
	.full-chat-area {
		height: 100% !important;
	}
		
		.chat-message {
			display: block;
			margin-bottom: 3px;
			background-color: rgb(232, 232, 232);
			padding: 3px 5px;
			border: 1px solid #bababa;
			font-size: 12px;
			margin: 5px 5px 0;	
		}
		
		.notification {
			font-style: italic;
			color: #444;
			font-size: 12px;
		}
		
			.chat-message .username {
				display: block;
				padding: 2px 0;
				border-bottom: 1px solid #333;
				font-weight: bold;
			}
			
			.chat-message .me {
				
			}
			
			.chat-message .msg-body {
				display: block;
				padding: 2px 0;
			}
			
			.error {
				background-color: #ff9999;
			}
			
			.success {
				background-color: #99ff99;
			}
	
	#txt-chat-input {
		display: block;
		height: 30px;
		padding: 5px;
		width: 94%;
		font-family: Helvetica, Verdana, Arial;
		font-size: 12px;
		margin: 0 auto;
		border: 1px solid rgb(68, 68, 68);
	}
	
	#form-area {
		padding: 15px;
		overflow: auto;
	}
	
	.form-error {
		color: red;
	}
	
	.form-field {
		margin-bottom: 8px;
	}
		
		.form-field .field-required {
			color: #777;
			font-size: 85%;
			margin-left: 3px;
			font-style: italic;
		}
	
		.form-field label {
			display: block;
			margin-bottom: 5px;
		}
		
		.form-field input[type=text] {
			display: block;
			width: 75%;
			padding: 3px;
		}
		
		.form-field input[type=submit] {
			font-size: 18px;
		}
	
#footer {
	border-top: 1px solid #aaa;
	background-color: rgb(200, 200, 200);
	
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 3px 0;
}

	#footer span#wgchat-watermark {
		float: right;
		font-size: 9px;
		right: 100px;
		margin-right: 5px;
	}
	
		#wgchat-watermark a {
			text-decoration: none;
			color: #000;
		}	